# <center> <b> <h1> Borda Most Significant Rois</h1></b></center>

<h1>Explanation about it: <h1>
    <p style="font-weight: normal; font-size: 18px; text-align: justify;"> 
        in this file the goal is find the most relevant ROIS for all the features,
        for achieve this wi will implemnt the Borda method fot votation, the votants
        are the 4 rankings  that we made in the step 3 Modelin, significant rois.
        <br>
        <br>
        For more information about borda <a href= "" https://en.wikipedia.org/wiki/Borda_count> click here</a>.
    </p>

In [2]:
import pandas as pd
import numpy as np 

PATH_SIGNIFICANCE = "../../3 Modeling/2. Random Forest (significance Score)/output/"

In [3]:
def readSignificances():
    
    datasets = []
    constant1 = 'Random Forest (AllFeatures - Significance) '
    features = ['area','meancurv', 'thickness', 'volume']
    # features for paper
    features = ['area', 'volume']

    for feature in features:
        df = pd.read_csv(PATH_SIGNIFICANCE + constant1 + feature +'.csv', index_col=0)
        datasets.append({'name': feature, 'data': df})
    return datasets

In [4]:
# Names are ordered whit significance, mos significant first
def clean_featuere_of_name_cols(df, name_feature):
    array_names = []
    name_feature_temp = '_' + name_feature
    for name in df.index.values:
        name = name.replace(name_feature_temp, '')
        array_names.append(name)

    return array_names

# 1. Prepare the data

In [5]:
Significances = readSignificances()
Significances[0]['data'].head()

                            Significance
Name
rh_G_and_S_cingul-Ant_area      0.020898
lh_S_temporal_sup_area          0.018332
rh_G_temporal_middle_area       0.017275
rh_S_temporal_sup_area          0.015924
lh_G_cuneus_area                0.015085

In [6]:
ordered_vectors = []

for significance in Significances:
    data = significance['data']
    name = significance['name']
    #print(name)
    ordered_vectors.append(clean_featuere_of_name_cols(data, name))

print(len(ordered_vectors[0]))

148

# Create a df for the results

In [7]:
df_results = pd.DataFrame(columns=['Name', 'votes', 'area', 'vol'])
df_results['Name'] = ordered_vectors[0]
df_results['votes'] = 0
df_results['area'] = 0
df_results['vol'] = 0
df_results.set_index('Name', inplace = True)
df_results.shape

(148, 1)

In [8]:
#this is just for correct paper
area = True
#this is just for correct paper

for vector in ordered_vectors:
    position = 0
    for region in vector:
        coordinate = df_results.at[region, 'votes']
        result = coordinate + position
        df_results.at[region, 'votes'] = result
        position += 1
    area = False

In [9]:
df_results.head()

                       votes
Name
rh_G_and_S_cingul-Ant      3
lh_S_temporal_sup         12
rh_G_temporal_middle       3
rh_S_temporal_sup         21
lh_G_cuneus               11

In [10]:
df_results.sort_values('votes', inplace = True)

In [11]:
df_results.head()

                       votes
Name
rh_G_and_S_cingul-Ant      3
rh_G_temporal_middle       3
rh_Pole_occipital          8
lh_G_cuneus               11
lh_S_temporal_sup         12

In [93]:
df_results.to_csv("output/borda classification.csv")