# <center> <b> <h1> Borda Most Significant Rois</h1></b></center>

In [16]:
import pandas as pd
import numpy as np 

PATH_SIGNIFICANCE = "../1. linear regression (All features) and ranking/output/"

In [17]:
def readSignificances():
    
    datasets = []
    constant1 = 'ranking_logistic_regression_'
    features = ['area','meancurv', 'thickness', 'volume']
    # features for paper
    features = ['area', 'volume']

    for feature in features:
        df = pd.read_csv(PATH_SIGNIFICANCE + constant1 + feature +'.csv', index_col=0)
        datasets.append({'name': feature, 'data': df})
    return datasets

In [18]:
# Names are ordered whit significance, mos significant first
def clean_featuere_of_name_cols(df, name_feature):
    array_names = []
    name_feature_temp = '_' + name_feature
    for name in df.index.values:
        name = name.replace(name_feature_temp, '')
        array_names.append(name)

    return array_names

# 1. Prepare the data

In [19]:
Significances = readSignificances()
Significances[0]['data'].head()

                                  coef
Name
lh_S_orbital_med-olfact_area  0.173876
lh_G_and_S_frontomargin_area  0.108740
lh_G_cuneus_area              0.106030
rh_Pole_occipital_area        0.096331
rh_G_pariet_inf-Angular_area  0.089620

In [20]:
for order_ in Significances:
    order = order_['data'].index.values
    count = 0
    for roi in order:
        if roi == 'rh_Pole_temporal_area':
            print("position is: " + str(count))
            
        count += 1

position is: 133

In [21]:
ordered_vectors = []

for significance in Significances:
    data = significance['data']
    name = significance['name']
    #print(name)
    ordered_vectors.append(clean_featuere_of_name_cols(data, name))

print(len(ordered_vectors[0]))

148

In [23]:
for order in ordered_vectors:
    count = 0
    for roi in order:
        if roi == 'rh_Pole_temporal':
            print("position is: " + str(count))
            
        count += 1

position is: 133
position is: 9

# 2. Create a df for the results

In [24]:
df_results = pd.DataFrame(columns=['Name', 'votes', 'area', 'vol'])
df_results['Name'] = ordered_vectors[0]
df_results['votes'] = 0
df_results['area'] = 0
df_results['vol'] = 0
df_results.set_index('Name', inplace = True)
df_results.shape

(148, 3)

In [64]:
"""for vector in ordered_vectors:
    position = 0
    for region in vector:
        coordinate = df_results.at[region, 'votes']
        result = coordinate + position
        df_results.at[region, 'votes'] = result
        position += 1"""

In [27]:
#this is just for correct paper
area = True
#this is just for correct paper

for vector in ordered_vectors:
    position = 0
    for region in vector:
        if position <= 19:
            coordinate = df_results.at[region, 'votes']
            result = coordinate + position
            df_results.at[region, 'votes'] = result
            if area:
                df_results.at[region, 'area'] = position
            else:
                df_results.at[region, 'vol'] = position
        else:
            coordinate = df_results.at[region, 'votes']
            result = 500
            df_results.at[region, 'votes'] = result
            
        position += 1
    area = False

In [28]:
df_results.head()

                          votes  area  vol
Name
lh_S_orbital_med-olfact       0     0    0
rh_G_front_inf-Opercular    500     0    0
rh_G_insular_short          500     0    0
rh_G_occipital_middle       500     0    0
rh_G_oc-temp_lat-fusifor    515     0   15

In [29]:
df_results.sort_values('votes', inplace = True)

In [31]:
df_results.head(25)

                             votes  area  vol
Name
lh_S_orbital_med-olfact          0     0    0
lh_G_and_S_frontomargin          6     1    5
lh_Pole_occipital                7     5    2
rh_Pole_occipital               11     3    8
lh_G_cuneus                     15     2   13
lh_G_temp_sup-Plan_polar        17    16    1
rh_S_oc-temp_lat                18     7   11
rh_G_pariet_inf-Angular         23     4   19
rh_S_temporal_inf               23    19    4
rh_G_oc-temp_med-Parahip        27    11   16
rh_G_occipital_sup             500     9    0
lh_G_oc-temp_med-Parahip       500     8    0
lh_S_temporal_sup              500     6    0
rh_S_pericallosal              500    12    0
lh_S_parieto_occipital         500    13    0
lh_S_circular_insula_sup       500    14    0
lh_G_pariet_inf-Angular        500    10    0
lh_G_temp_sup-Lateral          500    17    0
lh_G_and_S_occipital_inf       500    18    0
lh_S_pericallosal              500     0    0
lh_G_and_S_transv_frontopol    500     0    0
lh_G_and_S_cingul-Ant          500     0    0
lh_G_and_S_cingul-Mid-Ant      500     0    0
lh_G_and_S_cingul-Mid-Post     500     0    0
lh_G_front_sup                 500     0    0

In [33]:
df_results.to_csv("output/borda classification logistic regresion.csv")