# <center> <b> <h1> Borda Most Significant Rois</h1></b></center>

In [1]:
import pandas as pd
import numpy as np 

PATH_SIGNIFICANCE = "../1. SVM RFE (All features)/output/"

In [2]:
def readSignificances():
    
    datasets = []
    constant1 = 'best_regions_normalized_'
    features = ['area','meancurv', 'thickness', 'volume']
    # features for paper
    features = ['area', 'volume']

    for feature in features:
        df = pd.read_csv(PATH_SIGNIFICANCE + constant1 + feature +'.csv', index_col=0)
        df.sort_values('variation (a/k)', inplace = True, ascending=False)
        datasets.append({'name': feature, 'data': df})
    return datasets

In [3]:
# Names are ordered whit significance, mos significant first
def clean_featuere_of_name_cols(df, name_feature):
    array_names = []
    name_feature_temp = '_' + name_feature
    for name in df.index.values:
        name = name.replace(name_feature_temp, '')
        array_names.append(name)

    return array_names

# 1. Prepare the data

In [4]:
Significances = readSignificances()
Significances[1]['data'].head()

                                     frecuency  variation (a/k)
Name
lh_G_Ins_lg_and_S_cent_ins_meancurv        478         7.145205
lh_Pole_temporal_meancurv                  477         7.103530
lh_G_oc-temp_med-Parahip_meancurv          466         7.098342
lh_G_temp_sup-G_T_transv_meancurv          456         6.992022
rh_Pole_temporal_meancurv                  467         6.819045

In [5]:
ordered_vectors = []

for significance in Significances:
    data = significance['data']
    name = significance['name']
    #print(name)
    ordered_vectors.append(clean_featuere_of_name_cols(data, name))

print(len(ordered_vectors[0]))

148

# Create a df for the results

In [8]:
df_results = pd.DataFrame(columns=['Name', 'votes', 'area', 'vol'])
df_results['Name'] = ordered_vectors[0]
df_results['votes'] = 0
df_results['area'] = 0
df_results['vol'] = 0
df_results.set_index('Name', inplace = True)
df_results.shape

(148, 1)

In [9]:
"""for vector in ordered_vectors:
    position = 0
    for region in vector:
        coordinate = df_results.at[region, 'votes']
        result = coordinate + position
        df_results.at[region, 'votes'] = result
        position += 1"""

In [ ]:
#this is just for correct paper
area = True
#this is just for correct paper

for vector in ordered_vectors:
    position = 0
    for region in vector:
        if position <= 19:
            coordinate = df_results.at[region, 'votes']
            result = coordinate + position
            df_results.at[region, 'votes'] = result
            if area:
                df_results.at[region, 'area'] = position
            else:
                df_results.at[region, 'vol'] = position
        else:
            coordinate = df_results.at[region, 'votes']
            result = 500
            df_results.at[region, 'votes'] = result
            
        position += 1
    area = False

In [10]:
df_results.head()

                         votes
Name
lh_G_and_S_frontomargin    250
lh_Pole_occipital          144
lh_S_orbital_med-olfact    151
rh_S_oc-temp_lat           174
rh_G_occipital_sup         243

In [11]:
df_results.sort_values('votes', inplace = True)

In [12]:
df_results.head()

                          votes
Name
rh_S_pericallosal            49
lh_G_temp_sup-G_T_transv     51
lh_G_temp_sup-Plan_polar     67
rh_Pole_temporal             99
lh_G_and_S_occipital_inf    101

In [14]:
df_results.to_csv("output/borda classification SVM Normalized.csv")